.navBar{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.541);
}

ul li{
    list-style-type: none;
}

.navBar a{
    text-decoration: none;
    color: white;
}
i {
    font-size: 20px;
}
.navBar nav li{
    padding: 10px;
    margin: 20px;
    display: inline-block;
   
}
.navBar nav ul li:hover{
    background-color: rgb(55, 114, 42);
}

#hamMenu{
    visibility: hidden;
}
.menubody_container1{
    background-image: url('./Pics/Restaurant-Trends.jpg');
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 825px; 
    margin: 0;
}

.menuLogo{
    display: flex;
    width: 100%;
    height: 120vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
    
}
.menuLogo img{ 
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    margin-top: 30px;
    width: 395px;
    height: 395px;
    background-attachment: scroll;  
}


.hidden {
    width: 375px; 
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 500px;
    overflow: hidden;
    flex-shrink: 0;
    background-blend-mode: multiply;
    background-color: #232323;
    opacity: 0.8;
    box-shadow: 5px 5px rgb(55, 114, 42);
}
.hidden:hover{
    overflow-y: scroll;
}
.hidden::-webkit-scrollbar {
    width: 5px;
}
.hidden::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #5c7f89, #3e606f); 
    border-radius: 5px;
}
.hidden::-webkit-scrollbar-track {
    background-color: #eee; 
    border-radius: 5px;
}
.hidden h2 {
    font-family: Helvetica, sans-serif;
    margin-bottom: 7px;
    border-bottom: 2px solid black;
    color: #f2f2f2;
}

.food-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.food-item {
    margin: 15px 0;
    color: #f2f2f2;
    border-bottom: 2px solid #ddd; 
    padding-bottom: 12px;
    position: relative;
    transition: background-color 0.3s;
}

.Container_hidden{
    padding-top: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.bodyIndex{
    background-image: url('./Pics/foto33.jpg');
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 825px; 
    margin: 0;
}
.Container_hidden2{
    padding-top: 57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
.menuLogo_div{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    background-color: #242424;
    
}
.menu_container{
    margin-top: 150px;
    background-image: url('./Pics/top-view-elegant-plate-with-copy-space.jpg');
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    
}
.circle_Photo{
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    overflow: hidden; 
    position: relative;
  }
  .indexLogo{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
    
}
.indexLogo img{ 
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    margin-top: 55px;
    width: 395px;
    height: 395px;
    background-attachment: scroll;  
}
.indexLogo h1{
    margin-top: 70px;
    padding-top: 80px;
}
.paragrafet{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: auto;
    height: 450px;
    font-family: 'Special Elite', cursive;
    justify-content: space-evenly;
    opacity: 0.8;
}

blockquote {
    font-weight: 100;
    font-size: 32px; 
    max-width: 600px;
    line-height: 1.4;
    position: relative;
    margin: 0;
    padding: 8px; 
  }
  
  blockquote:before,
  blockquote:after {
    position: absolute;
    color: #f1efe6;
    font-size: 128px; 
    width: 64px; 
    height: 64px; 
  }
  .div_p1{
    margin: 5px;
}
.div_p2{
    margin: 5px;
}
  blockquote:before {
    content: '“';
    left: -80px; 
    top: -32px;
  }
  
  blockquote:after {
    content: '”';
    right: -60px; 
    bottom: 16px; 
  }
  
  .wd{
    width: 100%;
    height: 250px;
    opacity: 0.9;
    background-color: white;
    padding: 50px;
}
.wd h1{
    width: 100px;
    font-size: x-large; 
    text-align: left; 
    font-style: italic;
     color: black; 
     margin-top: 50px;
      margin-bottom: 50px;
}

  
