.navBar{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.541);
}

ul li{
    list-style-type: none;
}

.navBar a{
    text-decoration: none;
    color: white;
}
.navBar nav li{
    padding: 10px;
    margin: 20px;
    display: inline-block;
}
#hamMenu{
    visibility: hidden;
}
body{
    background-image: url('https://img.freepik.com/free-photo/top-view-milk-white-chocolate-copy-space_23-2148238696.jpg?w=1060&t=st=1699210498~exp=1699211098~hmac=3b338b9e938ede4d10294a7e63ebdffc3d27fd03c4401c5017a00ee7afa8cba8');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
